// vars
$fonts: '../fonts/';
$images: '../images/';

// fonts
$circular: 'CircularStd', Helvetica;
$mono: monospace;
$lato:'Lato', sans-serif;

$breakpoints: (
	phone-xs: 375px,
	phone: 768px,
	tablet: 992px,
	desktop: 1200px,
	desktop_lg: 1400px,
);

// font settings
$grid-gutter-width: 15px;
$container-large-desktop: 1270px;

$font-family-base: $circular;
$font-size-base: 16px;
$line-height-base: 1.25;
$font-size-h1: 58px;
$font-size-h2: 42px;
$font-size-h3: 36px;
$font-size-h4: 24px;

$paragraph-spacing: 0 0 15px;

$hover-opacity: 0.8;
$time-animation: 0.3s;

// colors
$white: #fff;
$black: #000;
$gray: #333;
$rose: #DF0070;
$shark: #212529;
$pickled: #34495E;
$slate: #67758D;
$dove: #646464;
$gray_light: #767676;
$gray_light2: #B5B4B5;

$base-color: $black;
$body-bg: $white;

$link-color: $black;

$btn-color: $black;
$btn-border-radius-base: 30px;
$btn-font-size: 16px;
$btn-line-height: 28px;
$btn-font-weight: 600;
$btn-min-width: 205px;